--swiftversion 5.10

# File scope
--exclude .build,Android,Skip,Darwin,Tests,Package.swift

# Indentation
--indent 4
--tabwidth 4
--smarttabs enabled
--indentcase false
--ifdef no-indent
--xcodeindentation disabled

# Wrapping
--maxwidth 140
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--wrapconditions after-first
--wraptypealiases before-first
--wrapreturntype preserve
--wrapeffects preserve
--closingparen balanced

# Spacing
--operatorfunc spaced
--nospaceoperators ..., ..<
--ranges spaced
--trimwhitespace always
--emptybraces no-space

# Braces
--allman false
--guardelse same-line
--elseposition same-line

# Types
--self remove
--selfrequired
--importgrouping alpha
--typeattributes prev-line
--varattributes preserve
--storedvarattrs preserve
--computedvarattrs same-line
--complexattributes prev-line
--funcattributes prev-line

# Misc
--commas always
--decimalgrouping 3,4
--binarygrouping 4,8
--octalgrouping 4,8
--hexgrouping 4,8
--hexliteralcase uppercase
--exponentcase lowercase
--header strip
--lifecycle
--stripunusedargs always
--patternlet hoist
--enumnamespaces always
--modifierorder nonisolated,override,public,internal,private,fileprivate,open,static,class,final,lazy,required,convenience,optional,dynamic,mutating,nonmutating,weak,unowned
--shortoptionals always
--asynccapturing
--typeblanklines remove
--redundanttype inferred

# Enable strict rules (disabled by default)
--enable acronyms
--acronyms UUID
--enable blankLineAfterSwitchCase
--enable blankLinesAfterGuardStatements
--enable blockComments
--enable isEmpty
--disable markTypes
--disable redundantInternal
--enable noExplicitOwnership
--enable noGuardInTests
--disable organizeDeclarations
--enable preferFinalClasses
--enable preferSwiftTesting
--enable privateStateVariables
--enable propertyTypes
--enable singlePropertyPerLine
--enable sortSwitchCases
--enable testSuiteAccessControl
--enable unusedPrivateDeclarations
--enable urlMacro
--enable validateTestCases
--enable wrapConditionalBodies
--enable wrapEnumCases
--enable wrapMultilineConditionalAssignment
--enable wrapMultilineFunctionChains
--enable wrapSwitchCases
--disable wrapMultilineStatementBraces
--extensionacl on-declarations
